/* Header container */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f8fd00;
  border-bottom: 2px solid #ddd;
  font-family: "GeistSans", "GeistSans Fallback", sans-serif;
  padding: 12px 0;
}

/* Left side*/
.header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo-wrapper {
  background-color: lightblue;
  border-radius: 9px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 20px;
  height: 20px;
  min-width: 20px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(0) invert(1);
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Right side: paragraph */
.header__right {
  display: flex;
  align-items: center;
}

.header__text {
  font-size: 1rem;
  color: #666;
}
.header__button {
  padding: 12px;
  background-color: #4f46e5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}
