/* Header container */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f8fd00;
  border-bottom: 2px solid #ddd;
  font-family: "GeistSans", "GeistSans Fallback", sans-serif;
}

/* Left side*/
.header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo-wrapper {
  background-color: lightblue;
  border-radius: 15px;
}

.header__logo {
  width: 20px;
  height: 20px;
  min-width: 20px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(0) invert(1);
  padding: 8px 11px;
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* Right side: paragraph */
.header__right {
  display: flex;
  align-items: center;
}

.header__text {
  font-size: 1rem;
  color: #666;
}
