/* Header container */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ddd;
}

/* Left side*/
.header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo-wrapper {
  background-color: lightblue;
  border-radius: 15px;
}

.header__logo {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(0) invert(1);
  padding: 12px;
}

.header__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

/* Right side: paragraph */
.header__right {
  display: flex;
  align-items: center;
}

.header__text {
  font-size: 1rem;
  color: #666;
}
